body {
  text-align: center;
  margin : 0;
  padding : 5vh 5vw;
  background: #4d4559;
  font-family: 'Crafty Girls', cursive;
  font-size : 20px;
  font-weight : bolder;
}


main {
  display: grid;
  height : 90vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
}

.section {
  margin: auto;
  text-align: center;
  min-height : 400px;
  min-width : 600px;
  border-radius : 50px;
  background-color: #6E627F;
  transform : rotate(50deg);
}

.section--txt {
  transform : rotate(-50deg);
}

.empty {
  min-width : 0px;
  background-color : #4d4559;
}

.done {
  margin : auto;
  min-height : 400px;
  min-width : 600px;
  border-radius : 50px;
  background-color: #6E627F;
}

.todo {
 grid-column: 1  / span 3;
 grid-row: 2;
 margin : auto;
 padding : 10vh 30vw;
}
